/*
-------------左边菜单宽-300布局定义set----------
*/
header,main,footer {
    padding-left: 300px
}

/*最大宽度992*/
@media only screen and (max-width: 992px) {
    header,main,footer {
        padding-left:0
    }
}

/*
-------------左边300布局定义end----------
*/

/*
forwards 播放完停在某处
*/
.side-nav.fixed.openactive{
	animation:lefttoright 0.3s forwards;
}

@keyframes lefttoright
{
	from {transform: translateX(-105%);}
	to {transform: translateX(0%);}
}

.side-nav.fixed.colosactive{
	animation:righttoleft 0.3s forwards;
}

@keyframes righttoleft
{
	from {transform: translateX(0%);}
	to {transform: translateX(-105%);}
}


.side-nav.fixed {
    overflow: hidden;
}

.side-nav.fixed li.logo {
    text-align: center;
    margin: 40px auto;
}

.side-nav:not(.browser-default) li,
.side-nav:not(.browser-default){
    list-style-type: none;
    padding-left: 0;
}

.side-nav.fixed li {
    line-height: 44px;
}

.side-nav.fixed li.bold{
	border-bottom: 1px dotted #ccc;
}

.side-nav.fixed li.logo div{
   padding:10px 0px;
   border:1px solid #ccc;
   width: 220px;
   margin-left: auto;
   margin-right: auto;
}

/*滑出菜单的背景*/
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    will-change: opacity;
}


/*
----------缩小后的打开菜单按钮set---------
*/

.button-collapse.top-nav.full {
    line-height: 56px;
}

.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 1%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

/*
----------缩小后的打开菜单按钮end---------
*/


/*
-----------下拉菜单 set-----------
*/

.manav .nav-wrapper i{
    color: #f5f5f5;
    line-height: 55px;
}

.dropactive{
    display: block;
    opacity: 1;
    position: absolute;
    right: 1px;
}

.aulactive{
    background-color: rgba(0,0,0,0.1);
}


.dropdown-content li{
    line-height: 42px;
    text-align: center;
    min-height: 42px;
    height:42px;
    border-bottom: 1px dotted #ccc;
    width: 160px;
    overflow: hidden;
}

/*下拉项行高*/
.nav-wrapper .dropdown-content li i{
    color: #000;
    display:inline-block;
    margin-right: 9px;
    line-height: 42px;
}

/*
-----------下拉菜单 end-----------
*/

.section .placeholder{
	border-radius: 5px;
   background-color: rgb(236, 236, 236);
   border:1px solid #ccc;
   height: 240px;
   text-align: center;
}

.section .placeholder h5{
	margin-left: auto;
	margin-right: auto;
}

.section .placeholder + h6{
  text-align: center;
}